body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: #fff;
}

.app {
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

select, input, button {
  width: 100%;
  padding: 14px;
  margin-top: 12px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

button {
  background: #ff0055;
  color: white;
  font-weight: bold;
}

pre {
  white-space: pre-wrap;
  background: #1e1e1e;
  padding: 15px;
  border-radius: 8px;
  margin-top: 15px;
}